
 body {
  min-height: 100vh;
  overflow-y: hidden;

  color: aliceblue;
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  margin: auto;
  height: var(--main-content-height);
    /* width: var(--main-content-width); */
}

.toys-app{
  background-color: var(--clr0);

}

.main-content{
  display: grid;
  height: 100dvh;
  /* width: ; */
  grid-template-columns: 0.25fr 1fr;
  gap: 1em;
}
