&:root {
	--clr-blk: black;
	--clr0: #0d0c0ff9;
	--clr1: #1DB954;
	--clr2: #5f6368;
	--clr4: #181515;
	--clr5: #302b2b;
	--main-content-height: 60dvh;
	--main-content-width: 60dvh;
	--cell-padding: 1em;
	--br-s: 6px;
	--br-m: 8px;
	--br-l: 10px;
	--border0: 2px solid #5f6368;
	--color-text: aliceblue;
	--color-background: #0d0c0ff9;
	--shadow: rgba(0, 0, 0, 0.39);
	--shadow2: rgba(0, 0, 0, 0.98);
	--shadow3: rgba(0, 0, 0, 0.4);
	--min-space: .3rem;
	--med-space: .5rem;
	--med2-space: .8rem;
	--large-space: 1rem;
	--xlarge-space: 2rem;
	--xxlarge-space: 4rem;
}
