

.genre-preview{
  /* cursor:pointer; */
  background-color: var(--clr4);
transition: 300ms;
    text-align: ltr;
    margin: 0.5em;
    padding: var(--cell-padding);
    width: 140px ;
    max-height: 200px ;
    
    border: var(--border0);
    border-radius: var(--br-m);
  }

  .genre-preview:hover{
    background-color: var(--clr5);
  }

  .genre-preview p{
margin-block-start: 0.0em;  
}

.genre-preview img {
  width: 140px ;
  height: 140px ;
}