.toy-list{
    margin: auto;
    border-radius: var(--br-m);
    min-width: 55dvw;   
     height: 88dvh;
     width: 100%;

     overflow: scroll;
     overflow-x: hidden;
    display: grid ;
    justify-content: space-evenly;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 0em;
}

.toy-list-top-content-container{
    grid-column: 1 / -1;    
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    min-height: 220px;
    text-align: ltr;
}

.toy-list-top-content-container * {
    padding: 0.5em;
    height: 4em;
    margin: 1em;
    border: var(--border0);
    border-radius: var(--br-m);
    transition: 300ms;
  }
  .toy-list-top-content-container *:hover {
    background-color: var(--clr5);
  }

::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: var(--clr2);
    border-radius: var(--br-s);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--clr1);
    border-radius: var(--br-s);
}